html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  /* color: inherit; */
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: black; */
  }
}

/* 
main color #001233
nav items and border color for some buttons color #efe0ca
text color h1 h2 button and border text in the body #001233
logo color #ff595a
buttons #ff595a => redish and #ff595a => beige
div bg #efe0ca and #ffffff
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
